
echo_server_1/.idea/vcs.xml
echo_server_1/.idea/modules.xml
echo_server_1/.idea/misc.xml
echo_server_1/.idea/inspectionProfiles/profiles_settings.xml
echo_server_1/.idea/echo_server_1.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/pract.iml
.idea/vcs.xml
